<!DOCTYPE html>
<html>
  <head>
    <title>ListIp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">List Ip</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Lista', ips_path %></li>
        <li><%= link_to 'Filiais', filiais_path %></li>
        <li><%= link_to 'Acessos', acessos_path %></li>
      </ul>
    </div>
  </nav>
        
    <%= yield %>
  </body>
</html>
